/**
 * BSD 3-Clause License
 *
 * Copyright © 2023, Daniel Jonathan <daniel at cosmicmind dot com>
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the copyright holder nor the names of its
 *    contributors may be used to endorse or promote products derived from
 *    this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES LOSS OF USE, DATA, OR PROFITS OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

@use 'sass:math'

@use './adaptive'
@use './conversion'

@mixin grid-column($size, $count)
  @for $i from 1 through $count
    &.is-#{$size}#{$i}
      grid-column: span $i

%m-layout
  align-items: stretch
  align-content: stretch
  justify-items: stretch
  justify-content: stretch

%m-layout-flex
  @extend %m-layout

  display: flex
  flex-flow: column

%m-layout-grid
  @extend %m-layout

  display: grid
  grid-auto-rows: max-content

%m-section-flex
  display: flex
  flex-flow: column
  flex: 1 0 0

%m-section-grid
  display: grid
  grid-auto-rows: max-content
  grid-auto-flow: row
  align-items: stretch
  align-content: stretch
  justify-items: stretch
  justify-content: stretch

%m-column
  align-content: center
  justify-content: center
  align-items: center
  justify-items: center

%m-column-flex
  @extend %m-column

  display: flex
  flex-flow: column
  flex: 1

%m-column-grid
  @extend %m-column

  display: grid
  grid-auto-flow: row

  @include grid-column('', 12)

  @include adaptive.is-compact
    @include grid-column('compact-', 8)

  @include adaptive.is-gt-compact
    @include grid-column('gt-compact-', 12)

  @include adaptive.is-small
    @include grid-column('small-', 12)

  @include adaptive.is-gt-small
    @include grid-column('gt-small-', 12)

  @include adaptive.is-lt-medium
    @include grid-column('lt-medium-', 12)

  @include adaptive.is-medium
    @include grid-column('medium-', 12)

  @include adaptive.is-gt-medium
    @include grid-column('gt-medium-', 12)

  @include adaptive.is-lt-large
    @include grid-column('lt-large-', 12)

  @include adaptive.is-large
    @include grid-column('large-', 12)

  @include adaptive.is-gt-large
    @include grid-column('gt-large-', 12)

  @include adaptive.is-lt-expanded
    @include grid-column('lt-expanded-', 12)

  @include adaptive.is-expanded
    @include grid-column('expanded-', 12)

%m-row-flex
  display: flex
  flex-flow: row
  flex: 1 0 0

%m-row-grid
  display: grid

  @include adaptive.is-compact
    margin: 0 16px

  @include adaptive.is-gt-compact
    margin: 0 32px

  @include adaptive.is-gt-small
    margin: 0 32px

  @include adaptive.is-gt-medium
    margin: auto
    width: 100%
    max-width: 1040px

  @include adaptive.is-compact
    grid-template-columns: repeat(4, 1fr)

  @include adaptive.is-small
    grid-template-columns: repeat(8, 1fr)

  @include adaptive.is-medium
    grid-template-columns: repeat(12, 1fr)

  @include adaptive.is-gt-medium
    grid-template-columns: repeat(12, 1fr)

.m-layout
  &.m-flex
    @extend %m-layout-flex

    > .m-section
      @extend %m-section-flex

      > .m-row
        @extend %m-row-flex

        > .m-column
          @extend %m-column-flex

  &.m-grid
    @extend %m-layout-grid

    > .m-section
      @extend %m-section-grid

      > .m-row
        @extend %m-row-grid

        > .m-column
          @extend %m-column-grid

    &.m-adaptive
      @extend %m-adaptive-grid

.is-hidden
  display: none !important

%m-adaptive-grid
  @include adaptive.is-gt-medium
    margin: 0 32px

  > %m-section-grid
    @include adaptive.is-compact
      margin: 0 16px

    @include adaptive.is-gt-compact
      margin: 0 32px

    @include adaptive.is-gt-small
      margin: 0 32px

    @include adaptive.is-gt-medium
      margin: auto
      width: 100%
      max-width: 1040px

    > %m-row-grid
      @include adaptive.is-compact
        > %m-column-grid
          padding: 0 8px

      @include adaptive.is-gt-compact
        > %m-column-grid
          padding: 0 16px

@include adaptive.is-compact
  .is-gt-compact,
  .is-small,
  .is-gt-small,
  .is-medium,
  .is-gt-medium,
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-gt-compact
  .is-compact
    display: none !important

@include adaptive.is-small
  .is-compact,
  .is-lt-small,
  .is-gt-small,
  .is-medium,
  .is-gt-medium,
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-gt-small
  .is-compact,
  .is-lt-small,
  .is-small
    display: none !important

@include adaptive.is-lt-medium
  .is-medium,
  .is-gt-medium,
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-medium
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-gt-medium,
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-gt-medium
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-medium
    display: none !important

@include adaptive.is-lt-large
  .is-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-large
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-medium,
  .is-lt-large,
  .is-gt-large,
  .is-expanded
    display: none !important

@include adaptive.is-gt-large
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-medium,
  .is-lt-large,
  .is-large
    display: none !important

@include adaptive.is-lt-expanded
  .is-expanded
    display: none !important

@include adaptive.is-expanded
  .is-compact,
  .is-lt-small,
  .is-small,
  .is-lt-medium,
  .is-medium,
  .is-lt-large,
  .is-large,
  .is-lt-expanded
    display: none !important