/**
 * BSD 3-Clause License
 *
 * Copyright © 2023, Daniel Jonathan <daniel at cosmicmind dot com>
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the copyright holder nor the names of its
 *    contributors may be used to endorse or promote products derived from
 *    this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES LOSS OF USE, DATA, OR PROFITS OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

@use '../../utils/color'

$neutral-100: color.hex-to-rgb(#FFFFFF)
$neutral-0: color.hex-to-rgb(#000000)

$primary: color.hex-to-rgb(#9ed67c)
$on-primary: color.hex-to-rgb(#143800)
$primary-container: color.hex-to-rgb(#225105)
$on-primary-container: color.hex-to-rgb(#b9f295)
$inverse-primary: color.hex-to-rgb(#3a6a1e)

$secondary: color.hex-to-rgb(#bdcbaf)
$on-secondary: color.hex-to-rgb(#283420)
$secondary-container: color.hex-to-rgb(#3e4a35)
$on-secondary-container: color.hex-to-rgb(#d9e7ca)

$tertiary: color.hex-to-rgb(#a0cfcf)
$on-tertiary: color.hex-to-rgb(#003737)
$tertiary-container: color.hex-to-rgb(#1e4e4e)
$on-tertiary-container: color.hex-to-rgb(#bbebeb)

$error: color.hex-to-rgb(#ffb4ab)
$on-error: color.hex-to-rgb(#690005)
$error-container: color.hex-to-rgb(#93000a)
$on-error-container: color.hex-to-rgb(#ffdad6)

$background: color.hex-to-rgb(#1a1c18)
$on-background: color.hex-to-rgb(#e3e3dc)

$surface: color.hex-to-rgb(#121410)
$on-surface: color.hex-to-rgb(#c7c7c0)
$surface-variant: color.hex-to-rgb(#43483e)
$on-surface-variant: color.hex-to-rgb(#c4c8bb)

$surface-tint: color.hex-to-rgb(#9ed67c)

$inverse-surface: color.hex-to-rgb(#e3e3dc)
$on-inverse-surface: color.hex-to-rgb(#1a1c18)

$outline: color.hex-to-rgb(#8d9286)
$outline-variant: color.hex-to-rgb(#43483e)

$scrim: rgba(#000000, 0.32)

$shadow-0: 0 0 0 rgba(#000000, 0), 0 0 0 0 rgba(#000000, 0)
$shadow-1: 0px 1px 2px rgba(#000000, 0.3), 0px 1px 3px 1px rgba(#000000, 0.15)
$shadow-2: 0px 1px 2px rgba(#000000, 0.3), 0px 2px 6px 2px rgba(#000000, 0.15)
$shadow-3: 0px 4px 8px 3px rgba(#000000, 0.15), 0px 1px 3px rgba(#000000, 0.3)
$shadow-4: 0px 6px 10px 4px rgba(#000000, 0.15), 0px 2px 3px rgba(#000000, 0.3)
$shadow-5: 0px 8px 12px 6px rgba(#000000, 0.15), 0px 4px 4px rgba(#000000, 0.3)

$elevation-0: linear-gradient(0deg, rgba(#9ed67c, 0), rgba(#9ed67c, 0))
$elevation-1: linear-gradient(0deg, rgba(#9ed67c, 0.05), rgba(#9ed67c, 0.05))
$elevation-2: linear-gradient(0deg, rgba(#9ed67c, 0.08), rgba(#9ed67c, 0.08))
$elevation-3: linear-gradient(0deg, rgba(#9ed67c, 0.11), rgba(#9ed67c, 0.11))
$elevation-4: linear-gradient(0deg, rgba(#9ed67c, 0.12), rgba(#9ed67c, 0.12))
$elevation-5: linear-gradient(0deg, rgba(#9ed67c, 0.14), rgba(#9ed67c, 0.14))

.pastel
  .theme-dark,
  &.theme-dark
    --primary: #{$primary}
    --on-primary: #{$on-primary}
    --primary-container: #{$primary-container}
    --on-primary-container: #{$on-primary-container}
    --inverse-primary: #{$inverse-primary}

    --secondary: #{$secondary}
    --on-secondary: #{$on-secondary}
    --secondary-container: #{$secondary-container}
    --on-secondary-container: #{$on-secondary-container}

    --tertiary: #{$tertiary}
    --on-tertiary: #{$on-tertiary}
    --tertiary-container: #{$tertiary-container}
    --on-tertiary-container: #{$on-tertiary-container}

    --error: #{$error}
    --on-error: #{$on-error}
    --error-container: #{$error-container}
    --on-error-container: #{$on-error-container}

    --background: #{$background}
    --on-background: #{$on-background}

    --surface: #{$surface}
    --on-surface: #{$on-surface}
    --surface-variant: #{$surface-variant}
    --on-surface-variant: #{$on-surface-variant}

    --surface-tint: #{$surface-tint}

    --inverse-surface: #{$inverse-surface}
    --on-inverse-surface: #{$on-inverse-surface}

    --outline: #{$outline}
    --outline-variant: #{$outline-variant}

    --scrim: #{$scrim}

    --shadow-0: #{$shadow-0}
    --shadow-1: #{$shadow-1}
    --shadow-2: #{$shadow-2}
    --shadow-3: #{$shadow-3}
    --shadow-4: #{$shadow-4}
    --shadow-5: #{$shadow-5}

    --elevation-0: #{$elevation-0}
    --elevation-1: #{$elevation-1}
    --elevation-2: #{$elevation-2}
    --elevation-3: #{$elevation-3}
    --elevation-4: #{$elevation-4}
    --elevation-5: #{$elevation-5}